<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apoorv.dubey.android.instadia">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".WorkAreaActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".NorthPavallionActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".StockActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".SouthPavallionActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".EastGalleryActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".WestGalleryActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".AdminBlockActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".WorkSpecificationActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".InfrastructureActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".ChairMaintainanceActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".ElectricityActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".HouseKeepingActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".AnyOtherIssueActivity"
            android:parentActivityName=".WorkAreaActivity" />
        <activity
            android:name=".CheckReportActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".StockAreaActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".RaiseIssueAreaActivity"
            android:parentActivityName=".ProfileActivity" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".SingleReportViewItem"></activity>
    </application>

</manifest>